html, body {
    margin: 0;
    padding: 0;
}
#heading{
    text-align: center;
}


#colorContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
#hexDiv{
    height: 2.3em;
    width: 100%;
    
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
   
}
#hexDiv div{
    height: inherit;
    border-right: 1px solid whitesmoke;
     font-size: 0.7rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #1c1c1c;
}

#scheme-selection{
    font-size: 1.2rem;
    font-weight: 600;  
}
#color-mode{
    color: #747474;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5em;
    width:100%;
    height: 3.5em;
    border-radius: 8px;
}

#form-holder{
   display:flex;
align-items: center;
justify-content: center;
   padding: 1em;
   gap:1.2em;

}
#seed-color{
    border: none;
    width: 9em;
    height: 3em;
}



#form-holder div:nth-child(1){
    display: flex;
    align-items: center;
}
#form-holder div:nth-child(2){
    display: flex;
    flex-direction: column;
}

#colorContainer > #Process{
    display: flex;
    flex-direction: column;
    gap : em;
    width: 20em;
    padding-left: 4em;
    letter-spacing: 1.5px;
    color: #6F6666;
}

.color-holder{
    height: inherit;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.rotate{
 transform: rotate(-90deg);
 display: block;
 width: 100%;
 margin: 0;
 padding:0;
}

button{
    padding: 0.6em 0.7em;
    border: none;
    font-weight: 600;
    width: 15em;
    color: #808080;
}

#click-alert{
    color: #6F6666;
    text-align: center;
    font-weight: 600;
}